/* =========================================
   GLOBAL STYLES
========================================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:"Outfit",sans-serif;
background:#f6fbff;
background:linear-gradient(120deg,#dff1ff,#9fd6ff,#cfeaff);
color:#222;
padding-top:120px;
overflow-x:hidden;
}

section{
padding:80px 10%;
}

h1,h2,h3{font-weight:600;}

.container{
max-width:1200px;
margin:auto;
}

/* =========================================
   HERO SECTION
========================================= */

.hero{
min-height:80vh;
background-size:300% 300%;
animation:gradientMove 12s ease infinite;
display:flex;
align-items:center;
}

.hero-container{
max-width:1200px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
}

.hero-text{
max-width:520px;
}

.hero-tag{
color:#0077ff;
font-weight:500;
margin-bottom:8px;
margin-top:-150px;
}

.hero-text h1{
font-size:58px;
line-height:1.2;
}

.hero-text span{
color:#0077ff;
}

.hero-description{
margin-top:15px;
color:#555;
font-size:16px;
}

.hero-btn{
margin-top:25px;
padding:12px 28px;
border:none;
border-radius:30px;
background:#0077ff;
color:white;
font-size:15px;
font-weight:500;
cursor:pointer;
transition:all 0.3s ease;
}

.hero-btn:hover{
background:#005edb;
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,119,255,0.3);
}

/* =========================================
   BEST SELLER SECTION
========================================= */

.bestseller{
background:#ffffff;
padding:120px 10%;
}

.bestseller-container{
max-width:1200px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
gap:80px;
}

#user-name{
color:#0077ff;
font-weight:600;
}

.bestseller-text h2{
font-size:42px;
margin-bottom:20px;
}

.bestseller-desc{
color:#555;
max-width:400px;
margin-bottom:30px;
line-height:1.6;
}

.order-btn{
padding:14px 35px;
border:none;
border-radius:30px;
background:#0077ff;
color:white;
font-weight:500;
cursor:pointer;
transition:.3s;
}

/* =========================================
   OUR STORY
========================================= */

.story {
background:#f6fbff;
padding:100px 10%;
}

.story-container{
max-width:1200px;
margin:auto;
}

.story-header{
margin-bottom:50px;
}

.story-header h2{
font-size:48px;
color:#1a1a1a;
margin-bottom:10px;
}

.story-header .story-tagline{
font-size:20px;
color:#0077ff;
font-weight:500;
}

.story-content{
display:flex;
align-items:flex-start;
gap:60px;
}

.story-image{
flex:1;
}

.story-image img{
width:100%;
border-radius:40px;
box-shadow:0 20px 40px rgba(0,0,0,0.05);
}

.story-text{
flex:1;
display:flex;
flex-direction:column;
gap:20px;
}

.story-text p{
font-size:16px;
line-height:1.8;
color:#444;
text-align:justify;
}

.story-footer{
margin-top:30px;
text-align:right;
}

.story-footer p{
font-size:28px;
font-weight:600;
}

.story-footer span{
color:#0077ff;
}